{% load static %}
<div class="contents activecontent" id="word">
    <div class="container2 flex">
        <div class="card">
            <h1>Word Conversion</h1>
            <label class="uploadbtn" for="image-upload-word">Choose Word Image</label>
            <input id="image-upload-word" class="upload-input" type="file" accept="image/*"/>
            <p id="file-name-word">No file selected!</p>
            
            <div class="slider">
                <img src="{%static 'images/word_image.png'%}" alt="" />
                <img src="{%static 'images/word_image2.png'%}" alt="" />
                <img src="{%static 'images/word_image3.png'%}" alt="" />
                <img src="{%static 'images/word_image4.png'%}" alt="" />
            </div>
            <label class="uploadbtn" onclick="translateWord()">Translate</label>
            
            <!-- Updated Output element with copy button -->
            <div id="word-output" class="output">
                <h1>OCR Output:</h1>
                <div class="output-container">
                    <h3 id="word-output-text" style="text-align: center;">No output yet.</h3>
                    <button class="copy-btn" onclick="copyText('word-output-text')" style="display: none;">
                        Copy Text
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>